extends ../layout

block content
    h1.
        #{title}
    form#formAddBlob(name="addblob",method="post",action="/blobs")
        p Nombre: 
            input#inputName(type="text", placeholder="ex. John Smith", name="name")
        
        p Fecha ingreso: 
            input#inputDob(type="date", name="dob")
        
        p
            button#btnSubmit(type="submit") Crear